/*     FORMS      */
/* Input Fields */
$inputBorder: darken(#fff, 20%) !default;
$inputFocusBgColor: darken(#fff, 2%) !default;
$inputFocusBorderColor: darken(#fff, 26%) !default;

#content form {
	margin-bottom: 1em;
	@include clearfix;
}

.form-control {
	padding: 4px 6px;
}

.form-control--select {
	@extend .form-control;

	select {
		position: relative;
		height: 30px;
		padding-right: 30px;
		font-size: 0.9rem;
		-webkit-appearance: none;
		-moz-appearance: none;

		&:after {
			content: '\f0dc';
			font-family: FontAwesome;
			padding: 8px;
			position: absolute;
			right: 10px;
			top: 5px;
			z-index: 1;
			width: 10px;
			line-height: 50%;
			font-size: 0.86rem;
			color: #428bca;
			pointer-events: none;
		}
	}
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	font-family: inherit;
	font-size: 1rem;
	font-weight: normal;
	border: 1px solid $inputBorder;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.1);
	transition: all 0.15s linear;
		&:focus {
			background: $inputFocusBgColor;
			border-color: $inputFocusBorderColor;
			box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		}
		&[disabled] { background-color: #ddd; }

	@media (min-width: $screen-sm-min) {
		font-size: inherit;
	}
}

// Navbar search
#home-search {
        max-width: 75%;
	max-height: 30px;
	padding: 3px 26px 4px 14px;
	padding-top: 3px;
	padding-bottom: 4px;
	margin-top: 3px;
	-ms-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-webkit-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;

	&:focus {
		transition: width 0.3s ease-out;
	}
}

.form-inline,
.home-form {
	.form-control {
		display: inline;
	}
	vertical-align: middle;
        padding-right: 35px;
	padding-top: 10px;	
}

.search-wrapper {
	display: inline;

	&:after {
		font-family: "FontAwesome";
		position: relative;
		top: 0;
		left: -24px;
		color: gray;	

		@media(min-width: $screen-sm-min) {
			top: 2px;
		}
	}
}

// large text inputBorder
.input-lg {
	font-size: 1.42;
	font-weight: normal;
    height: 36px !important;
    line-height: 30px !important;
    padding: 4px 6px !important;
}

// Clear Table Filter button/icon
.filter {
	padding-right: 30px !important;
}
.clear-input-icon {
	position: absolute;
	right: 10px;
	top: 11px;
	z-index: 100;
	line-height: 100%;
	height: 100%;
	color: rgb(223,223,223);
	font-size: 1.1rem;
	cursor: pointer;
}

.clear-input-icon:active {
	color: rgb(203,203,203);
}

.red {
	border-color: red !important;
	color: red;
}

.dropzone {
	@extend .form-control;
	height: auto;
	text-align: center;
	.drop {
		min-height: 50px;
	}
	input[type="file"] {
		display: inline;
	}
	&.disabled {
	    cursor: not-allowed;
	    background-color: $input-bg-disabled;
	}
}

.item-picker {
	@include clearfix;
	@extend .form-control;
	height: auto;
	.item-picker-preview {
		overflow: hidden;		
		.result-table > li {
			margin: 4px 6px;
			border: none;
		}
		.clear {
			float: right;
		}
	}
	> .btn {
		margin-left: 1em;
	}
	&.disabled {
	    cursor: not-allowed;
	    background-color: $input-bg-disabled;
	}
}

.collapsible {
	padding-left: 20px;
	position: relative;
	.collapsible-trigger {
		position: absolute;
		top: 12px;
		left: 0;
		cursor: pointer;
		border: 0;
		background: none;
	}
}

// 'x' button to clear form entries.
.clear-button {
	display: inline;
	padding: 0;
	border: none;
	background: transparent;
	color: #428bca;
}



/*** SEARCH BUTTON ***/
.submit_3 {
background: #63abed;/* Fallback color for non-css3 browsers */
border: 0;
color: #eee;
cursor: pointer;
float: right;
font: 75% 'Raleway', sans-serif;
font-weight: bold;
height: 30px;
margin: 4px 4px 0;
text-shadow: 0 -1px 0 rgba(0,0,0,.3);
width: 18%;
outline: none;

/* Rounded Corners */
border-radius: 20px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;

}

/*** SEARCH BUTTON HOVER ***/
.submit_3:hover {
background: #5ba5ea; /* Fallback color for non-css3 browsers */

}
.submit_3:active {
    background: #5ba5ea; /* Fallback color for non-css3 browsers */
}

.submit_4{
background: #63abed;/* Fallback color for non-css3 browsers */
border: 0;
color: #eee;
cursor: pointer;
float: right;
font: 75% 'Raleway', sans-serif;
font-weight: bold;
height: 30px;
margin: 4px 4px 0;
text-shadow: 0 -1px 0 rgba(0,0,0,.3);
width: 60%;
outline: none;

/* Rounded Corners */
border-radius: 20px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;

}

/*** SEARCH BUTTON HOVER ***/
.submit_4:hover {
background: #5ba5ea; /* Fallback color for non-css3 browsers */

}
.submit_4:active {
background: #5ba5ea; /* Fallback color for non-css3 browsers */
}
