/* NavBar */
.navbar-inverse {
    border: none;
    border-bottom: 2px solid #DCDCDC;
    background: #ffffff;
    font-size: 1.25rem;
    .navbar-brand {
        margin-left: 0px;
	padding-left: 0px;
	padding-top: 10px;
	padding-right: 8px;
        color: #696969;
        font-size: 1.3rem;
        font-weight: 400;
	&:focus,
        &:hover {
	    background-color: #DCDCDC;
        }
    }

    .nav > li > button {
        position: relative;
        display: block;
        padding: 10px 15px;
        color: #696969;
        background-color: transparent;
        border: none;

        &:focus,
        &:hover {
            background-color: #DCDCDC;
        }

        /* Disabled sign-in link */
        &[disabled] {
            color: $gray-light;

            &:focus,
            &:hover {
                background-color: transparent;
                color: $gray-light;
                cursor: default;
            }
        }
    }
}

.navbar-fixed-top {
    position: static;

    @media (min-width: $screen-md-min) {
        position: fixed;
    }
}


.navbar-toggle {
    margin-right: 0;
}

.navbar-main {
    margin-bottom: 0;
}

.test-warning {
    position: relative;
    padding: 5px 0 7px;
    color: #fff;
    background-color: $brand-danger;
    background-image: linear-gradient(top, darken($brand-danger,20%) 0%,darken($brand-danger,10%) 5%,lighten($brand-danger,0%) 93%,lighten($brand-danger,40%) 95%);

    p {
        margin: 0;
        width: 90%;
       font-size: 0.85rem;

        @media screen and (min-width: $screen-md-min) {
            width: 100%;
            text-align: center;
            font-size: 1rem;
        }
    }
}


.test-warning-close {
    position: absolute;
    width: 23px;
    height: 22px;
    top: 50%;
    right: 5px;
    margin-top: -13px;
    font-size: 1.2rem;
    line-height: 23px !important;
    color: #fff;
    vertical-align: top;
    cursor: pointer;

    &:hover {
        color: #fff;
        text-decoration: none;
    }

    @media screen and (min-width: $screen-md-min) {
        position: static;
        display: inline;
        margin-top: 0;
        margin-left: 10px;
    }
}


.dropdown-menu {
    background-color: #fff;
    background-image: linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);

    &>li {
        &>a {
            padding: 5px 20px;
            color: #444 !important;
            font-weight: 300;
        }
    }

    @media screen and (min-width: $grid-float-breakpoint) {
        left: -1px;
        margin-top: -1px !important;
        padding: 10px 0;

        &>li {
            &>a {
                padding: 2px 30px 2px 20px;
                font-size: 1.1rem;
                color: #444 !important;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                letter-spacing: 1px;

                &:hover,&:active {
                    border-top: 1px solid darken($navbar-inverse-link-active-bg,20%);
                    border-bottom: 1px solid darken($navbar-inverse-link-active-bg,20%);
                    background-color: $navbar-inverse-link-active-bg;
                    color: $navbar-inverse-link-active-color !important;
                }
            }

            &:last-child {
                &>a {
                    border-radius: 0 0 3px 3px;
                }
            }
        }

        .navbar-right & {
            right: -1px;
        }
    }
}

// Dropdown menu separator item
.dropdown-sep {
    margin: 5px 0;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #fff;
}
